/*Reset*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 4em auto;
}

.row {
    width: 100%;
    margin-bottom: 0%;
}
.product {
    display: inline-block;
    position: relative;
    width: 32%;
    margin:0 2px ;
    vertical-align: top;
}

.product img {
    width: 100%;
}

.product .sales {
    background-color:#eb0037;
    position: absolute;
    bottom: 110px;
    left: 0px;
}

.product .label {
    background-color: #03895c;
    position: absolute;
    bottom: 110px;
    left: 40px;    
}

#label2 {
    background-color: #03895c;
    position: absolute;
    bottom: 110px;
    left: 0px;  
}

.product .heart {
    background-color: white;
    position: absolute;
    right: 0%;
    top: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
}

.line-through {
    text-decoration: line-through;}

.price {
    color: #eb0037;
}

.like {
    padding-bottom: 40px;
}
.immagine .immagine2 {
    display: none;
}

.immagine:hover .immagine1 {
    display: none;
}
.immagine:hover .immagine2 {
    display: inline-block;
}


